################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KataCleanCode/obj
/KataCleanCode.Tests/obj
